In [34]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [32]:
dataframe = pd.read_csv("settlement.csv")

In [11]:
dataframe.size

9548

In [12]:
dataframe.dtypes

is_cluster                  object
pocket_name                 object
pocket_alias                object
ward_id                      int64
ward_councillor             object
avg_hhsize                 float64
area_ha                    float64
density_dwellings          float64
structure_count              int64
age_of_is                   object
upgrade_category            object
temp_sanitation            float64
toilets_full_flush         float64
toilets_chemical           float64
toilets_portable           float64
toilets_container          float64
toilets_other              float64
toilets_total              float64
ratio_toilets_dwellings     object
pocket_code                 object
centroidx                  float64
centroidy                  float64
dtype: object

In [14]:
dataframe.columns

Index(['is_cluster', 'pocket_name', 'pocket_alias', 'ward_id',
       'ward_councillor', 'avg_hhsize', 'area_ha', 'density_dwellings',
       'structure_count', 'age_of_is', 'upgrade_category', 'temp_sanitation',
       'toilets_full_flush', 'toilets_chemical', 'toilets_portable',
       'toilets_container', 'toilets_other', 'toilets_total',
       'ratio_toilets_dwellings', 'pocket_code', 'centroidx', 'centroidy'],
      dtype='object')

In [17]:
dataframe.shape

(434, 22)

In [27]:
 dataframe.head(10)

,is_cluster,pocket_name,pocket_alias,ward_id,ward_councillor,avg_hhsize,area_ha,density_dwellings,structure_count,age_of_is,...,toilets_full_flush,toilets_chemical,toilets_portable,toilets_container,toilets_other,toilets_total,ratio_toilets_dwellings,pocket_code,centroidx,centroidy
0,4 in 1,4 in 1,Wallacedene 14 / J Section,19100006,Simpiwe Nonkeyizana,3.72,2.952,50.813008,150,15 - 20 years,...,32.0,0.0,0.0,0.0,0.0,32.0,1:5,NORFOU001,18.732603,-33.863384
1,Acacia Road,Acacia Road,Acacia Park - Parktown,19100066,Melanie Arendse,4.51,0.070,114.285714,8,10 - 15 years,...,3.0,2.0,0.0,0.0,0.0,5.0,1:2,HILACA001,18.501024,-34.032822
2,Amy Biehl,Amy Biehl,School Site,19100034,Fikiswa Nkunzana,2.89,1.711,301.578025,516,15 - 20 years,...,93.0,0.0,0.0,0.0,0.0,93.0,1:6,MITAMY001,18.587852,-34.002772
3,Appel Boord,Appel Boord,NaN,19100022,Johanna Martlow,4.14,0.088,159.090909,14,5 - 10 years,...,10.0,0.0,0.0,0.0,0.0,10.0,1:1,TYGAPP001,18.609142,-33.926268
4,Area K,Area K,Never Never,19100088,Patrick (Pat) Pietersen,4.17,2.661,249.154453,663,10 - 15 years,...,121.0,0.0,0.0,0.0,0.0,121.0,1:5,MITARE001,18.598543,-34.008208
5,Atlantis Farms,Meadowvale Farm,NaN,19100032,Barbara Rass,3.95,0.010,100.000000,1,5 - 10 years,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NORATL002,18.529397,-33.567081
6,Atlantis Farms,Rondeberg,NaN,19100032,Barbara Rass,3.95,0.759,15.810277,12,5 - 10 years,...,0.0,0.0,0.0,0.0,6.0,6.0,1:2,NORRON001,18.589864,-33.592408
7,Atlantis Pockets,Dassenberg Drive,Atlantis Tip,19100029,Cynthia Clayton,4.67,1.697,33.588686,57,10 - 15 years,...,0.0,0.0,0.0,9.0,14.0,23.0,1:2,NORDAS001,18.475226,-33.577512
8,Atlantis Pockets,Pine Grove Farm,NaN,19100032,Barbara Rass,3.95,0.603,19.900498,12,> 20 years,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NORPIN001,18.508242,-33.582325
9,Atlantis Pockets,Rasta Camp - Atlantis,NaN,19100029,Cynthia Clayton,4.67,1.783,3.925967,7,10 - 15 years,...,0.0,0.0,0.0,0.0,2.0,2.0,1:4,NORATL001,18.477955,-33.564752

In [43]:
dataframe =dataframe.set_index('is_cluster')
print(dataframe.loc['4 in 1'])

pocket_name                                    4 in 1
pocket_alias               Wallacedene 14 / J Section
ward_id                                      19100006
ward_councillor                   Simpiwe Nonkeyizana
avg_hhsize                                       3.72
area_ha                                         2.952
density_dwellings                           50.813008
structure_count                                   150
age_of_is                               15 - 20 years
upgrade_category           City land. Can be upgraded
temp_sanitation                                   0.0
toilets_full_flush                               32.0
toilets_chemical                                  0.0
toilets_portable                                  0.0
toilets_container                                 0.0
toilets_other                                     0.0
toilets_total                                    32.0
ratio_toilets_dwellings                           1:5
pocket_code                                 NORFOU001
centroidx                                   18.732603
centroidy                                  -33.863384
Name: 4 in 1, dtype: object

In [28]:
missing_data=dataframe.isnull().sum()
print(missing_data)

is_cluster                   0
pocket_name                  0
pocket_alias               242
ward_id                      0
ward_councillor              0
avg_hhsize                   0
area_ha                      0
density_dwellings            0
structure_count              0
age_of_is                    0
upgrade_category             0
temp_sanitation              0
toilets_full_flush           0
toilets_chemical             0
toilets_portable             0
toilets_container            0
toilets_other                0
toilets_total                0
ratio_toilets_dwellings     91
pocket_code                  0
centroidx                    0
centroidy                    0
dtype: int64

In [35]:
col = ['avg_hhsize','area_ha']

In [42]:
 min= MinMaxScaler()
df_normalized = dataframe.copy()
df_normalized[col] = min.fit_transform(dataframe[col])
print(df_normalized)

             is_cluster    pocket_name                pocket_alias   ward_id  \
0                4 in 1         4 in 1  Wallacedene 14 / J Section  19100006
1           Acacia Road    Acacia Road      Acacia Park - Parktown  19100066
2             Amy Biehl      Amy Biehl                 School Site  19100034
3           Appel Boord    Appel Boord                         NaN  19100022
4                Area K         Area K                 Never Never  19100088
..                  ...            ...                         ...       ...
429  Wolweriver Pockets     Wolweriver                         NaN  19100104
430         YAB Section  YAB Section 1        Victoria Mxenge 8645  19100091
431         YAB Section  YAB Section 3        Victoria Mxenge 8317  19100091
432          Zille Rain     Zille Rain         Zille Rains Heights  19100110
433        Zola Section   Zola Section                         NaN  19100097

             ward_councillor  avg_hhsize   area_ha  density_dwellings  \
0        Simpiwe Nonkeyizana    0.523973  0.004395          50.813008
1            Melanie Arendse    0.794521  0.000090         114.285714
2           Fikiswa Nkunzana    0.239726  0.002541         301.578025
3            Johanna Martlow    0.667808  0.000117         159.090909
4    Patrick (Pat) Pietersen    0.678082  0.003960         249.154453
..                       ...         ...       ...                ...
429        Lubabalo Makeleni    0.130137  0.011770           5.323869
430           Monde Mabandla    0.417808  0.001987         202.985075
431           Monde Mabandla    0.417808  0.001439          27.749229
432           Shanen Rossouw    0.808219  0.001182          66.167291
433        Mthwalo Mkutswana    0.527397  0.000122         260.869565

     structure_count      age_of_is  ... toilets_full_flush  toilets_chemical  \
0                150  15 - 20 years  ...               32.0               0.0
1                  8  10 - 15 years  ...                3.0               2.0
2                516  15 - 20 years  ...               93.0               0.0
3                 14   5 - 10 years  ...               10.0               0.0
4                663  10 - 15 years  ...              121.0               0.0
..               ...            ...  ...                ...               ...
429               42  15 - 20 years  ...                0.0              18.0
430              272     > 20 years  ...                0.0               0.0
431               27  15 - 20 years  ...                0.0               0.0
432               53   5 - 10 years  ...                0.0              16.0
433               24  10 - 15 years  ...                8.0               0.0

     toilets_portable  toilets_container  toilets_other  toilets_total  \
0                 0.0                0.0            0.0           32.0
1                 0.0                0.0            0.0            5.0
2                 0.0                0.0            0.0           93.0
3                 0.0                0.0            0.0           10.0
4                 0.0                0.0            0.0          121.0
..                ...                ...            ...            ...
429              30.0                0.0            6.0           54.0
430               0.0                0.0            0.0            0.0
431               0.0                0.0            0.0            0.0
432               0.0                0.0            0.0           16.0
433             191.0                0.0            0.0          199.0

     ratio_toilets_dwellings  pocket_code  centroidx  centroidy
0                        1:5    NORFOU001  18.732603 -33.863384
1                        1:2    HILACA001  18.501024 -34.032822
2                        1:6    MITAMY001  18.587852 -34.002772
3                        1:1    TYGAPP001  18.609142 -33.926268
4                        1:5    MITARE001  18.598543 -34.008208
..                       ...          ...        ...        ...
429                      1:1    NORWOL001  18.517303 -33.734345
430                      NaN    KHAYAB003  18.662064 -34.029229
431                      NaN    KHAYAB002  18.663659 -34.029142
432                      1:3    HILZIL001  18.499941 -34.034671
433                      1:0    KHAZOL001  18.680415 -34.039633

[434 rows x 22 columns]

Categorical Data:
pocket_name

Description: Categorical data represents discrete values that belong to specific categories. In this case, "pocket_name" represents the name of different pockets or areas, which are categories